<lia-card *ngIf="lia">
  <card-header class="no-padding">
    <lia-info-block>
      <lia-info-language>{{ lia.language }}</lia-info-language>
      <lia-info-title>{{ lia.title }}</lia-info-title>
      <lia-info-time>
        <i class="material-icons">schedule</i>
        <app-lia-timer
          [remainingSeconds]="remainingSeconds"
        ></app-lia-timer>
      </lia-info-time>
    </lia-info-block>
  </card-header>
  <card-content class="thin-padding">
    <p>{{ lia.description }}</p>
  </card-content>
</lia-card>
