.lia-toast {
  background-color: rgb(96, 125, 139);
  color: #fff;
  height: auto;
  overflow-y: hidden;
  padding: 15px 20px;
  position: fixed;
  right: 0;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  top: -100px;
  width: 18em;
}
.lia-toast.open {
  top: 0;
}
.lia-toast .message {
  display: inline-block;
  padding: 0 10px 0 0;
  width: 13em;
}
.lia-toast [lia-button] {
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
  vertical-align: top;
  width: auto;
}
.lia-toast [lia-button]:hover {
  background-color: rgba(0,0,0,0.12);
}
