<div class="card-container">
  <md-card>
    <md-card-title-group>
      <md-card-title>Live Interview Application</md-card-title>
      <md-card-subtitle>by Jobsity</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <p>This is Home page for Live Interview Application</p>
      <p>In order to preview functionality in a test mode please click <strong>LAUNCH TEST LIA</strong> button.</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="accent" [routerLink]="['LiaCard', {userId: 1, liaId: 1}]">LAUNCH TEST LIA
      </button>
    </md-card-actions>
  </md-card>
</div>
