.editor-card {
  display: flex;
  width: 100%;
}

.editor-card .lia-card {
  width: 100%;
  padding-top: 62px;
}

.editor-area {
  display: flex;
  flex: 1;
  border: 1px solid #D5D5D5;
}

.editor-area .ace-crimson-editor .ace_gutter-layer {
  text-align: center;
  width: 60px !important;
}

lia-ace-editor {
  display: block;
  width: 100%;
}

/* media query: tablet */
@media screen and (max-width: 1024px) {
  .editor-card {
    display: block;
  }

  .editor-card .lia-card {
    padding: 25px 30px;
  }

  .editor-area {
    display: block;
    height: 100vh;
  }

  lia-ace-editor {
    height: 100vh;
  }
}

/* media query: mobile */
@media screen and (max-width: 600px) {

  .editor-card .lia-card {
    padding: 25px 0;
  }
}
