.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 175px 0 185px 0;
}

lia-card {
  width: 665px;
}

/* media query: laptop */
@media screen and (max-width: 1290px) {
  .card-container {
    margin: 130px 0;
  }
}

/* media query: tablet */
@media screen and (max-width: 1024px) {
  .card-container {
    margin: 121px 55px;
  }
}

/* media query: mobile */
@media screen and (max-width: 600px) {
  .card-container {
    margin: 50px 0;
  }
}
