.lia-info-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  background: #F4F4F4;
}

lia-info-language {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0,0,0,0.87);
  letter-spacing: 0;
  text-transform: uppercase;
}

lia-info-title {
  font-size: 20px;
  color: #9B9B9B;
  line-height: 24px;
  margin-bottom: 3px;
}

lia-info-time {
  font-size: 18px;
  line-height: 24px;
  display: flex;
}

lia-info-time i {
  color: #3CA9D4;
  margin-right: 3px;
}
