.container {
  display: flex;
  flex-flow: row wrap;
  margin: 40px 30px 65px 30px;
}

lia-description {
  width: 30%;
}

lia-code-submission {
  display: flex;
  margin-left: 60px;
  width: calc(70% - 60px);
}
