@font-face {
  font-family: PlutoSansRegular;
  src: url("fonts/PlutoSansRegular.otf") format("opentype");
}

@font-face {
  font-family: PlutoSansCondRegular;
  src: url("fonts/PlutoSansCondRegular.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

.preloader {
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.preloader .logo {
  width: 60px;
}
