:host {
  display: flex;
  flex-grow: 3;
  width: 70%;
}

md-card {
  margin: 0 20px 20px 20px;
  width: 100%;
}

textarea {
  font-size: 14px;
  font-style: italic;
  padding: 15px;
  border-color: #ccc;
  resize: none;
}
