<div>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
    <footer class="footer">
      <img class="logo" src="img/jobsity-icon-black-bg.png" alt="Jobsity logo">
      <p>The names and logos for Jobsity are registered trademarks of Jobsity, LLC. All text and design is Copyright © 2014</p>
      <address>Jobsity LLC | 349 5th Ave Suite 504, New York, NY 10016 | Ana de Ayala N27-90, Quito-Ecuador | T: +1.646.470.9816, +593.2.322.8458 | E:
        <a href="mailto:info@jobsity.com">info@jobsity.com</a></address>
    </footer>
  </main>
</div>
