.footer {
  text-align: center;
  height: 220px;
  background: #231E20;
}

.footer p, .footer address, footer a {
  font-family: 'PlutoSansCondRegular', Helvetica, sans-serif;
  font-size: 12px;
  color: #999;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0;
}

.footer address {
  font-style: normal;
}

.footer a {
  color: #FCF7EB;
}

.footer .logo {
  margin: 23px 0 12px 0;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0 30px 30px;
  }
}
