.lia-card {
  display: flex;
  background: white;
  flex-flow: column wrap;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, .5);
  padding: 35px 62px;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #000;
}

card-header {
  display: block;
}

card-header.no-padding{
  margin: -35px -62px 0 -62px;
}

card-title-group {
  display: block;
  text-align: center;
  position: relative;
}

card-title-group [card-img] {
  position: absolute;
  top: -90px;
  left: calc(50% - 62px);
}

card-title {
  display: block;
  font-family: PlutoSansRegular, 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 37px;
  margin-top: 40px;
}

card-subtitle, card-content {
  display: block;
}

card-content.thin-padding {
  margin: 0 -32px;
}

card-subtitle, card-content p {
  font-size: 18px;
  margin: 23px 0;
  line-height: 26px;
}

card-actions {
  display: block;
  margin-top: 20px;
  text-align: center;
}

card-actions [lia-button-link] {
  margin-top: 25px;
}

/* media query: mobile */
@media screen and (max-width: 600px) {
  .lia-card {
    padding: 35px 0;
  }

  card-header .lia-info-block {
    margin-bottom: 25px;
  }

  card-title-group [card-img] {
    top: -65px;
    width: 81px;
    left: calc(50% - 35px);
  }

  card-title {
    margin: 25px 35px 0 35px;
    font-size: 24px;
    line-height: 30px;
  }

  card-subtitle, card-content p {
    margin: 0 35px 25px 35px;
  }

  card-content.thin-padding {
    margin: 0;
  }
}
